.project {
    background-color: #202020;
    box-sizing: border-box;
    padding: 110px 70px;
 }

.project__texts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
.project__texts_left {
    margin-right: 30px;
}
.project__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.project__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}
.project__initial {
    background-color: #3DDC84;

}

.project__back {
    width: 20%;
}
.project__front {
width: 80%;
}
.project__graph {
display: flex;
width: 100%;
justify-content: space-between;
padding: 0;
margin: 0;
}
.project__title {
border-bottom: 1px solid #DADADA;
/* margin: 0 70px 23px; */
font-weight: 400;
font-size: 22px;
line-height: 26.6px;
padding: 0;
margin: 0;
margin-bottom: 70px;
padding-bottom: 23px;

}

.project__time {
    box-sizing: border-box;
    padding: 9px 0;
    text-align: center;
    margin: 0;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}
.project__last {
    background-color: #303030;
     
   }

.project__initial {
    color: black;
}

.project__part {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 780px) {
    .project {
        padding: 90px 50px;
    }
    .project__last {
         min-width: 184px;
    }
    .project__text {
        font-size: 12px;
        line-height: 18px;
        }
    .project__part  {
        font-weight: 400;
    }
    .project__title {
        font-size: 18px;
        line-height: 22px;
             
        }
        .project__subtitle {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            padding: 0;
            margin-bottom: 26px;
        }
        
}

@media screen and (max-width: 500px) {
    .project__subtitle {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 16px;
    }

    .project__texts {
        flex-direction: column;
        row-gap: 56px;
    }
    .project__text {
        font-size: 11px;
        line-height: 16px;
        }
    .project__back {
            width: 35%;
        }
    .project__front {
        width: 65%;
        }
    .project__part {
        font-size: 11px;
        line-height: 13px;
    }
    .project {
        
        padding: 70px 18px;
     }
        
}