.portfolio {
    box-sizing: border-box;
padding: 100px 70px 0px;
margin-bottom: 125px;
    }

.portfolio__link-item {display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
padding-bottom: 19px;
padding-top: 20px;
border-bottom: 1px solid #424242}

.portfolio__link-item:last-of-type {border: none;
    padding-bottom: 0;
}

.portfolio__links {
    list-style: none;
    padding: 0;
    margin: 0;
}
.portfolio__link {
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
}
.portfolio__link:hover {
    opacity: 0.8;
    cursor: pointer;
}


.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}
.portfolio__icon {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
}

@media screen and (max-width: 800px) {
    .portfolio {
    padding: 91px 50px 0px;
    margin-bottom: 90px;
        }
    .portfolio__link {
        font-size: 28px;
    }
}

@media screen and (max-width: 500px) {
    .portfolio {
    padding: 70px 14px 0px;
    margin-bottom: 70px;
        }
    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }
}