.student {
    box-sizing: border-box;
    padding: 110px 70px 0;
}

.student__main {
    display: flex;
    justify-content: space-between;
    }

.student__title {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 66px;
    /* margin: 0 70px 23px; */
    font-weight: 400;
    font-size: 22px;
    line-height: 26.6px;
    padding-bottom: 23px;
  }

.student__name {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

.student__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 26px;
  }
.student__about {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    max-width: 600px;
    margin-bottom: 99px;
}       

.student__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    
}
.student__link-item {
margin-right: 20px;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}

.student__link {
    text-decoration: none;
    color: white;

}
.student__link:hover {
    opacity: 0.8;
    cursor: pointer;
}
.student__image {
    border-radius: 10px;
    width: 270px;
}

